.grid {
    height: 100%;
    display: grid;
    place-items: center;
    background-color: #eee;
}

.content {
    display: grid;
    gap: 10px;
    place-items: center;
}

.logo {
    width: 50%;
    height: auto;
}

.loginForm {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 80%;
    margin-top: 20px;
}

.loginForm > input {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 3px;

}

.error {
    font-size: 0.8em;
    font-weight: bold;
    margin: 10px 0;
    color: red;
}

.register {
    width: 80%;
}

.register > p {
    font-size: 0.8em;
    margin: 10px 0;
}