.grid {
    display: flex;
    gap: 10px;
}

.grid > label {
    font-size: 0.8em;
    font-weight: bold;
    margin: 10px 0;
}

.icon {
    font-size: 0.8em;
    margin: 10px 0;
    opacity: 0.2;
}

.icon:hover {
    opacity: 1;
}

