.grid {
    display: grid;
    gap: 20px;
}

.greeting {
    display: grid;
    gap: 10px;
}

.greeting > h1 {
    margin: 20px 0 0 0;
    font-size: 1em;
    font-weight: 600;
}

.greeting > span {
    font-size: 1em;
}

.boxes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

