.grid {
    display: grid;
}

.content{
    display: grid;
    gap: 10px;
    margin-bottom: 10px;
}

.description {
    display: grid;
    gap: 5px;
    margin: 10px 0;
}

.description > h4 {
    font-size: 1em;
    margin: 0;
}

.description > p {
    font-size: 0.8em;
    margin: 0;
}

.redBtn {
    background-color: red;
}

.disabledBtn {
    color: rgba(0, 0, 0, 0.5);
    background-color: #eee;
}

.err {
    display: grid;
    justify-items: center;
}

.err > span {
    color: red;
}